mixin collapse-block(id)
  .collapse(id=id)
    block
mixin collapse-btn(id)
  button(class="btn" type="button" data-toggle="collapse"
    data-target="#" + id aria-expanded="false" aria-controls=id)&attributes(attributes)
    block
