.map__wrapper
  #map.map
  .map__text-wrapper
    .container-full
      .map__text
        .wiziwig
          h4(style='color: #451a68;') ПСИХОТРЕНИНГОВЫЙ ЦЕНТР «МАСТЕРСКАЯ НАМЕРЕНИЯ»
          p #[span(style='display:inline-block;') +7 (812) 575 45 96] #[br] #[span(style='display:inline-block;') +7 (921) 777 43 62] #[br] #[span(style='display:inline-block;') info@intentionwork.ru]
          p #[span(style='display:inline-block;') Россия, Санкт-Петербург,] #[span(style='display:inline-block;') наб. реки Фонтанки, д. 130]
//TODO вставить свой apikey!!!!!!
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=AELb21wBAAAA5nb1QQIA6Y3WV7SOhZaE05i9QcpChh27SesAAAAAAAAAAAB0Uoh9Y3gh4Roi1mOZcNa8uLvOcQ" type="text/javascript")
