.wysiwyg {
  @include clearfix();
  color: $black;
  font-size: rem-calc(14);
  line-height: rem-calc(20);
  font-weight: normal;

  &.fw300 {
    font-weight: 300;
  }

  @include media-breakpoint-up(md) {
    font-size: rem-calc(22);
    line-height: rem-calc(32);
  }

  h1, h2, h3, h4, h5, h6 {
    color: $honey-flower;

    small {
      display: block;
      font-size: rem-calc(11);
      line-height: rem-calc(20);
      font-weight: 500;
      text-transform: uppercase;
      margin-top: rem-calc(20);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(18);
        line-height: rem-calc(24);
        margin-top: rem-calc(24);
      }
    }
  }

  h1 {

  }

  h2 {
    font-size: rem-calc(24);
    line-height: rem-calc(30);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: rem-calc(20);

    @include media-breakpoint-up(md) {
      font-size: rem-calc(48);
      line-height: rem-calc(48);
      margin-bottom: rem-calc(48);
    }
  }

  h3 {
    font-size: rem-calc(18);
    line-height: rem-calc(20);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem-calc(20);

    @include media-breakpoint-up(md) {
      font-size: rem-calc(36);
      line-height: rem-calc(48);
      font-weight: normal;
    }
  }

  h4 {
    font-size: rem-calc(18);
    line-height: rem-calc(20);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem-calc(20);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(26);
      line-height: rem-calc(32);
    }

    &:not(:first-child) {
      margin-top: rem-calc(20);
    }
  }

  h5 {
    font-size: rem-calc(18);
    line-height: rem-calc(20);
    font-weight: 500;
    //text-transform: uppercase;
    margin-bottom: rem-calc(20);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(22);
      line-height: rem-calc(32);
    }

    &:not(:first-child) {
      margin-top: rem-calc(20);
      @include media-breakpoint-up(md) {
        margin-top: rem-calc(24);
      }
    }
  }

  p {
    margin-bottom: rem-calc(20);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(24);
    }

    small {
      display: inline-block;
      font-size: rem-calc(14);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(18);
      }
    }
  }

  b, strong {
    font-weight: 700;
  }

  mark {
    outline: 2px solid $limeade;
    font-weight: 700;
    outline-offset: rem-calc(2);
    background-color: transparent;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    margin: rem-calc(0 0 20);
    padding: 0;
    list-style: none;
    @include media-breakpoint-up(md) {
      margin: rem-calc(0 0 40);
    }

    > li {
      margin-bottom: rem-calc(20);
      padding-left: rem-calc(20);
      position: relative;
      @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(24);
        padding-left: rem-calc(30);
      }

      &:before {
        content: '';
        display: block;
        width: rem-calc(12);
        height: rem-calc(12);
        position: absolute;
        border-radius: 50%;
        left: rem-calc(0);
        top: rem-calc(4);
        background-color: $honey-flower;
        @include media-breakpoint-up(md) {
          top: rem-calc(7);
          width: rem-calc(18);
          height: rem-calc(18);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.arrow {
      > li {
        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 12px;
          border-color: transparent transparent transparent $honey-flower;
          background-color: transparent;
          position: absolute;
          border-radius: 0;
          left: rem-calc(0);
          top: rem-calc(4);
          @include media-breakpoint-up(md) {
            border-width: 10px 0 10px 20px;
            top: rem-calc(6);
          }
        }
      }
    }
  }

  ol {
    margin: rem-calc(0 0 20);
    padding: 0;
    list-style: none;
    counter-reset: list;
    @include media-breakpoint-up(md) {
      margin: rem-calc(0 0 24);
    }

    > li {
      margin-bottom: rem-calc(20);
      padding-left: rem-calc(24);
      position: relative;
      @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(24);
        padding-left: rem-calc(40);
      }

      &:before {
        counter-increment: list;
        content: counter(list) ")";
        display: block;
        width: rem-calc(24);
        position: absolute;
        left: rem-calc(0);
        top: rem-calc(0);
        text-align: right;
        padding-right: rem-calc(4);
        @include media-breakpoint-up(md) {
          width: rem-calc(40);
          padding-right: rem-calc(14);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .table {
    @include border-bottom($black);
    margin-bottom: rem-calc(20);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(48);
    }

    thead {
      @include border($black);

      th, td {
        border: none;
        padding: rem-calc(9 10);
        font-weight: 700;
        @include media-breakpoint-up(md) {
          padding: rem-calc(12 20);
        }
      }
    }

    td {
      padding: rem-calc(9 10);
      border-top: 1px solid rgba(32, 32, 32, 0.5);
      @include media-breakpoint-up(md) {
        padding: rem-calc(12 20);
      }
    }

    tfoot {
      @include border-top($black);

      th, td {
        border: none;
        padding: rem-calc(9 10);
        font-weight: 700;
        @include media-breakpoint-up(md) {
          padding: rem-calc(12 20);
        }
      }
    }
  }

  blockquote {
    color: $black;
    font-size: rem-calc(24);
    line-height: rem-calc(30);
    font-weight: normal;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);

    @include media-breakpoint-up(md) {
      font-size: rem-calc(36);
      line-height: rem-calc(48);
      margin-top: rem-calc(48);
      margin-bottom: rem-calc(48);
    }
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    background-color: $black;
    margin-bottom: rem-calc(24);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .frame {
    border: 1px solid white;
    padding: rem-calc(40);
    background-color: #bbb9d3;
    margin-bottom: rem-calc(40);
  }

  .fl {
    display: flex;
    align-items: center;
    align-content: center;

    img {
      margin-right: rem-calc(10);
    }
  }
}

