$path-font-vremena-grotesk: '../fonts/';

/*
// Vremena Grotesk
@include font-face(
    'Vremena Grotesk',
    $path-font-vremena-grotesk+'/VremenaGroteskBold/VremenaGroteskBold',
      ('woff2', 'woff', 'ttf', 'eot', 'svg')
) {
  font-style: normal;
  font-weight: 700;
}*/
