include ../../../mixins/space/_space
.footer-contact
  p Адрес факультета: #[br] #[i.text-primary 190000, Россия, Санкт-Петербург, #[br] Галерная, 58-60]
  p Поступающим:
    br
    a(href='tel:+78123240770') +7 (812) 324 07 70
  p Поступающим:
    br
    a(href='tel:+78123200726') +7 (812) 320 07 26
    |,
    +space
    a(href='tel:+78123200721') +7 (812) 320 07 21
  p Приемная декана:
    br
    a(href='tel:+78123200729') +7 (812) 320 07 29
  br
  a(href='#').btn.btn-outline-green.btn-width-full-sm Форма для связи
