mixin swiper-item(type,src,caption)
  .swiper-item
    if type == 'video'
      .swiper-item__video
        iframe(src=src)&attributes(attributes)
      if(caption !== '')
        .swiper-item__caption
          p=caption
    else if type == 'img'
      .swiper-item__img
        img(src=src)&attributes(attributes)
      if(caption !== '')
        .swiper-item__caption
          p=caption
    else
      block
