//@import 'modernizr';

@mixin force-gpu-acceleration() {
	transform: translateZ(0);
	transform: translate3d(0, 0, 0); // duplicated propertie!
	backface-visibility: hidden;
	perspective: 1000;
}

@mixin object-fit($fit: fill, $position: null) {
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}

@mixin text-gradient() {
	@include yep(backgroundcliptext) {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojM0IxMTNCOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNFNjA1QzE7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
		background-image: linear-gradient(45deg, #3B113B 0%, #E605C1 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: relative;
		display: inline-block;
	}
	@include nope(backgroundcliptext) {
		color: $hover-color;
	}
}

// Transitions

// @include transition();
@mixin transition($values...) {
	$property: all;
	$duration: 0.25s;
	$timing-function: null;
	$delay: null;

	$output: null;

	@if length($values) == 0 {
		$output: $property $duration $timing-function $delay;
	} @else {
		@each $value in $values {
			@if length($value) == 1 {
				$value: nth($value, 1) $duration $timing-function $delay;
			} @else if length($value) == 2 {
				$value: nth($value, 1) nth($value, 2) $timing-function $delay;
			} @else if length($value) == 3 {
				$value: nth($value, 1) nth($value, 2) nth($value, 3) $delay;
			} @else {
				$value: nth($value, 1) nth($value, 2) nth($value, 3) nth($value, 4);
			}
			$output: append($output, $value, comma);
		}
	}

	transition: $output;
}

// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group functions
////

$global-font-size: 100% !default;

/// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
///
/// @param {Number} $num - Number to strip unit from.
///
/// @returns {Number} The same number, sans unit.
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

/// Converts one or more pixel values into matching rem values.
///
/// @param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas. If you need to convert a comma-separated list, wrap the list in parentheses.
/// @param {Number} $base [null] - The base value to use when calculating the `rem`. If you're using Foundation out of the box, this is 16px. If this parameter is `null`, the function will reference the `$global-font-size` variable as the base.
///
/// @returns {List} A list of converted values.
@function rem-calc($values, $base: null) {
	$rem-values: ();
	$count: length($values);

	// If no base is defined, defer to the global font size
	@if $base == null {
		$base: $global-font-size;
	}

	// If the base font size is a %, then multiply it by 16px
	// This is because 100% font size = 16px in most all browsers
	@if unit($base) == '%' {
		$base: ($base / 100%) * 16px;
	}

	// Using rem as base allows correct scaling
	@if unit($base) == 'rem' {
		$base: strip-unit($base) * 16px;
	}

	@if $count == 1 {
		@return -zf-to-rem($values, $base);
	}

	@for $i from 1 through $count {
		$rem-values: append($rem-values, -zf-to-rem(nth($values, $i), $base));
	}

	@return $rem-values;
}

// Converts a unitless, pixel, or rem value to em, for use in breakpoints.
@function -zf-bp-to-em($value) {
	// Pixel and unitless values are converted to rems
	@if unit($value) == 'px' or unitless($value) {
		$value: rem-calc($value, $base: 16px);
	}

	// Then the value is converted to ems
	@return strip-unit($value) * 1em;
}

/// Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
/// @access private
///
/// @param {Number} $value - Pixel value to convert.
/// @param {Number} $base [null] - Base for pixel conversion.
///
/// @returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
@function -zf-to-rem($value, $base: null) {
	// Check if the value is a number
	@if type-of($value) != 'number' {
		@warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
		@return $value;
	}

	// Transform em into rem if someone hands over 'em's
	@if unit($value) == 'em' {
		$value: strip-unit($value) * 1rem;
	}

	// Calculate rem if units for $value is not rem or em
	@if unit($value) != 'rem' {
		$value: strip-unit($value) / strip-unit($base) * 1rem;
	}

	// Turn 0rem into 0
	@if $value == 0rem {
		$value: 0;
	}

	@return $value;
}

/// Converts a pixel, percentage, rem or em value to a unitless value based on a given font size. Ideal for working out unitless line heights.
///
/// @param {Number} $value - Value to convert to a unitless line height
/// @param {Number} $base - The font size to use to work out the line height - defaults to $global-font-size
///
/// @return {Number} - Unitless number
@function unitless-calc($value, $base: null) {

	// If no base is defined, defer to the global font size
	@if $base == null {
		$base: $global-font-size;
	}

	// First, lets convert our $base to pixels

	// If the base font size is a %, then multiply it by 16px
	@if unit($base) == '%' {
		$base: ($base / 100%) * 16px;
	}

	@if unit($base) == 'rem' {
		$base: strip-unit($base) * 16px;
	}

	@if unit($base) == 'em' {
		$base: strip-unit($base) * 16px;
	}

	// Now let's convert our value to pixels too
	@if unit($value) == '%' {
		$value: ($value / 100%) * $base;
	}

	@if unit($value) == 'rem' {
		$value: strip-unit($value) * $base;
	}

	@if unit($value) == 'em' {
		$value: strip-unit($value) * $base;
	}

	// 'px'
	@if unit($value) == 'px' {
		@return strip-unit($value) / strip-unit($base);
	}

	// assume that line-heights greater than 10 are meant to be absolute in 'px'
	@if unitless($value) and ($value > 10) {
		@return $value / strip-unit($base);
	}

	@return $value;
}

@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
	background-image: url($file-1x);

	// Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio,
	// but doesn't convert dppx=>dpi.
	// There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard.
	// Compatibility info: https://caniuse.com/#feat=css-media-resolution
	@media only screen and (min-resolution: 192dpi), // IE9-11 don't support dppx
	only screen and (min-resolution: 2dppx) { // Standardized
		background-image: url($file-2x);
		background-size: $width-1x $height-1x;
	}
	//@include deprecate("`img-retina()`", "v4.3.0", "v5");
}


@mixin border($color) {
	border: 2px solid $color;
	@include media-breakpoint-up(md) {
		border-width: 3px;
	}
}
@mixin border-top($color) {
	border-top: 2px solid $color;
	@include media-breakpoint-up(md) {
		border-width: 3px;
	}
}
@mixin border-bottom($color) {
	border-bottom: 2px solid $color;
	@include media-breakpoint-up(md) {
		border-width: 3px;
	}
}
@mixin border-left($color) {
	border-left: 2px solid $color;
	@include media-breakpoint-up(md) {
		border-width: 3px;
	}
}
@mixin border-right($color) {
	border-right: 2px solid $color;
	@include media-breakpoint-up(md) {
		border-width: 3px;
	}
}

@mixin caret-down {}

@mixin caret-up {}

@mixin caret-right {}

@mixin caret-left {}

@mixin caret($direction: down) {}


@mixin active {
  &:active { @content; }
}
