include ../../mixins/btn/_btn

// START: section-programs
.section-programs
  .container-full
    h2.title.title_white.title_bigger.text-center ТИПЫ ПРОГРАММЫ

    .program.program_header
      .program__row
        .program__col-1
          .program-bg.program-bg_f.program-bg_1
            .program-header__title-2 ТИП ПРОГРАММЫ
        .program__col-3
          .program-bg.program-bg_f.program-bg_1
            .program-header__text Необходимая продолжительность
            .program-header__title-2 СТОИМОСТЬ
        .program__col-2
          .program-bg.program-bg_f.program-bg_1
            .program-header__title ЗАДАЧИ И ВОЗМОЖНОСТИ

    .program-lid
      .program-bg.program-bg_f.program-bg_2
        div ДЛЯ ЖЕЛАЮЩИХ УПРАВЛЯТЬ СВОЕЙ СУДЬБОЙ И РЕАЛИЗОВЫВАТЬ ЕЕ ЛУЧШУЮ ВЕРСИЮ

    .program
      .program__row
        .program__col-1
          .program-bg.program-bg_f.program-bg_3
            .program__title БАЗОВЫЙ
            .program__title-text ОСНОВНОЙ
        .program__col-3
          .program-bg.program-bg_f.program-bg_3
            .program__date
              span 2 - 2,5 месяца
              span от 21 часа
            hr
            .program__price От 12 000 р / мес.
        .program__col-2
          .program-bg.program-bg_f.program-bg_3
            .program__inner
              .wiziwig
                .js-show-more-wrapper
                  p Прояснение истинных желаний и личных задач, раскрывающих Ваш внутренний потенциал.
                  p #[strong Обретение четкого понимания в настоящем моменте куда, зачем, каким путем] Вы намерены двигаться далее в своей жизни.
                  .js-show-more-text(style='display: none;')
                    p Вами будет создан «Личный Путеводитель» для верного ориентира в решениях, действиях и ситуациях.
                    p Вы сможете спокойно принять изменения, без которых путь в желаемом направлении закрыт.
                    p F.A.Q. о базовых принципах и законах формирования событий.
                    p Полученная информация станет надежной опорой в верном понимании происходящего, выборе решений и поведения в любых ситуациях.
                  button(class='show-more-link js-show-more')
                    span Подробнее:
                    +icon('arrow-down','')
    .program
      .program__row
        .program__col-1
          .program-bg.program-bg_f.program-bg_4
            .program__title БАЗОВЫЙ
            .program__title-text ПРАКТИК
        .program__col-3
          .program-bg.program-bg_f.program-bg_4
            .program__date
              span 3 – 4,5 месяцев
              span от 72 часов
            hr
            .program__price От 18 000 р / мес.
        .program__col-2
          .program-bg.program-bg_f.program-bg_4
            .program__inner
              .wiziwig
                .js-show-more-wrapper
                  ol
                    li #[span Все задачи и возможности «Основного» уровня.]

                  .js-show-more-text(style='display: none;')
                    ol
                      li(style='opacity:0;')
                      li #[span Задачи уровня «Практик»:]
                        p Практическое общее понимание, как мыслить и действовать, чтобы судьба развивались в выбранном направлении.
                        p Развитие базовых представлений и навыков:
                        ul
                          li взаимодействия со своим внутренним миром, своей судьбой, самим собой и окружающими
                          li выявления своих особенностей мышления; распознания своего намерения и намерения людей.
                        p Повышение устойчивости к манипуляциям и другим видам негативных воздействий.
                      li #[span Результат:]
                        p Повысится комфортность и результативность взаимодействия с людьми, внутреннее спокойствие, уравновешенность, уверенность, взрослость мышления.
                  button(class='show-more-link js-show-more')
                    span Подробнее:
                    +icon('arrow-down','')


    .program
      .program__row
        .program__col-1
          .program-bg.program-bg_f.program-bg_3
            .program__title ИНТЕНСИВ
        .program__col-3
          .program-bg.program-bg_f.program-bg_3
            .program__date
              span 4,5 – 7 месяцев
              span от 120 часов
            hr
            .program__price От 22 000 р / мес.
        .program__col-2
          .program-bg.program-bg_f.program-bg_3
            .program__inner
              .wiziwig
                .js-show-more-wrapper
                  ol
                    li #[span Включает все задачи и возможности уровня «Практик».]
                    li #[span Задачи и возможности уровня «Интенсив»:]
                      p Более углубленное освоение возможностей уровня «Практик».
                      p Создание ситуации, в результате которой происходит развитие вашего сознания на уровень выше ранее привычного.
                      .js-show-more-text(style='display: none;')
                        p Реализация желаемого хода развития событий, выбранной Вами Линии Жизни шаг за шагом без лишних затруднений.
                        p Проведение необходимых для Вас работ и изменений на всех уровнях формирования реальности.
                        p Развитие Вашего энергетического потенциала, индивидуальных способностей и талантов.
                        p Проводится балансировка и восстановление всех энергетических, психических и физических систем человека.
                  button(class='show-more-link js-show-more')
                    span Подробнее:
                    +icon('arrow-down','')
    .program-lid
      .program-bg.program-bg_f.program-bg_2
        div ДЛЯ ЖЕЛАЮЩИХ РАЗВИВАТЬ СВОЙ ИСТИННЫЙ ПОТЕНЦИАЛ, МАГИЧЕСКИЕ СПОСОБНОСТИ И НАИБОЛЕЕ СЧАСТЛИВУЮ ВЕРСИЮ СВОЕЙ СУДЬБЫ

    .program
      .program__row
        .program__col-1
          .program-bg.program-bg_f.program-bg_4
            .program__title VIP
        .program__col-3
          .program-bg.program-bg_f.program-bg_4
            .program__date
              span От 12 месяцев
            hr
            .program__price От 30 000 р / мес.
        .program__col-2
          .program-bg.program-bg_f.program-bg_4
            .program__inner
              .wiziwig
                .js-show-more-wrapper
                  ol
                    li #[span Включает задачи и возможности уровня «Интенсив»]
                    li #[span Задачи и возможности уровня VIP:]
                      p Развитие магических способностей: интуиция, внутреннее видение, ясновидение, энергетический потенциал, силу мышления, возможности работать с вероятностями событий.
                      p Достижение желаемых целей любого уровня, реализация наиболее смелых и масштабных проектов.
                      .js-show-more-text(style='display: none;')
                        p Происходит балансировка и восстановление всех сущностных, энергетических, психических и физических систем и тел человека, соответственно вашей истинной индивидуальной природе.
                        p Скорость осуществления задуманного, желаний и мыслей увеличивается и может удивить.
                        p Внутренняя сила увеличивается, как и способность управлять ею и своим намерением максимально благоприятно.
                        p 90% достижения целей любой сложности наиболее благоприятным путем, с учетом всех последствий и возможностей судьбы.
                  button(class='show-more-link js-show-more')
                    span Подробнее:
                    +icon('arrow-down','')
      br
      br
    .section-programs__btn
      a(href='#').btn.btn-outline-green Заказать подробную информацию о программе
      br
      br
      a(href='#').btn.btn-green.btn-lg ЗАПИСАТЬСЯ НА ПРОГРАММУ
// END: section-programs
