include ../../mixins/btn/_btn

// START: section-why-us
.section-why-us
  .container-full
    h3.title.title_white.title_big.text-center Наша уникальность:
    h2.title.title_white.title_bigger.text-center ПОЧЕМУ МЫ?
    .section-why-us__item
      p Наша команда Мастеров является представителями «школы Пути», хранящей знания о причинах и закономерностях формирования событий и жизненного Пути человека в целом.
      p Профессиональная практика Учителя всех мастеров «Мастерской намерения» и автора уникальных методик ГАЙЯ более 25 лет.
    .section-why-us__item.section-why-us__item_noteven
      p В методиках ГАЙЯ работа всегда ведется на четырех уровнях формирования реальности, независимо от того, на каком уровне вербально и физически на данный момент идет общение.
      p При акценте на психологический уровень мы имеем возможность использовать множество различных психологических методик, но все они ведутся в системе ГАЙЯ и имеют отличный  результат.
      p При совершении кармических исцелений всегда идет психологическая работа для личностного осознания сути исцеления и дальнейшей активной социальной реализации.
    .section-why-us__item
      p.text-center Благодаря нашим профессиональным знаниям и умениям, вместе с нами вы сможете успешно проходить свои кармические уроки в режиме экстерната, мягко, развивать свою нервную систему, психику, раскрывать свой внутренний источник силы для перехода на новый уровень качества жизни!

// END: section-why-us
