include ../../mixins/photo/_photo
// START: section-text
.section-text
  .container-full
    .wrapper__row
      .wrapper__col-center-10
        h3.title.title_honey-flower.title_big.text-center Результаты, которые всех радуют!
        .wysiwyg.fw300
          ul.arrow
            li Желания, цели и путь их достижения станут более ясными и согласованными с вашим сердцем и душой.
            li У вас появятся внутренние и внешние точки опоры, которые с годами будут только укрепляться.
            li Вы начнете легко ладить с людьми и общаться с ними.
            li Начнете лучше распознавать и исключать из своей жизни манипуляции и иные разрушительные воздействия, которые ведут к тяжелым последствиям.
            li Решения и действия станут более скорыми, уверенными и правильными, даже при большой части «неизвестных переменных данных» в жизненной задаче.
          h4(style="text-align:center") ПОЛУЧЕННЫЕ ЗНАНИЯ И ОСВОЕННЫЕ НАВЫКИ, СТАНУТ ДЛЯ ВАС:
          ul
            li #[strong ПУТЕВОДИТЕЛЕМ] в незнакомые пока места, куда ведет ваш путь к цели.
            li #[strong ПОСОХОМ] в пути, который поможет находить верные точки опоры в труднопроходимых местах вашего пути.
            li #[strong ПОВОДЫРЕМ], в моменты, когда наш путь продолжается, можно сказать, «вслепую» и может вызывать стресс.
        +photo
          +photo-item('./assets/img/photo-7.png')
          +photo-item('./assets/img/photo-8.png')
          +photo-item('./assets/img/photo-9.png')

// END: section-text
