include ../../mixins/photo/_photo
// START: section-text
.section-text.section-text_bg-1
  .container-full
    .wrapper__row
      .wrapper__col-center-10
        h3.title.title_honey-flower.title_big.text-center Задачи и возможности программы
        .wysiwyg.fw300
          p(style="text-align:center; font-weight:400") На своем Пути каждый может встретиться с тем, что выходит за рамки понятной ему логики. #[br]В такие моменты человеку нужно во что-то верить, и эта вера становится точкой опоры. #[br]Но вера статична и не предполагает изменений.
          h5(style="text-align:center; font-weight:400") ДЛЯ НАДЕЖНЫХ ИЗМЕНЕНИЙ НУЖНЫ ЗНАНИЯ.
          p(style="text-align:center; font-weight:400") Программа «Путь к цели. Уверенность в будущем» дает целостные знания,  помогает на их основе сформировать навыки и намерение, которые необходимы для решения жизненных задач любой сложности.

          .frame
            h5(style="text-align:center") Прежде всего, вы ПОЛУЧИТЕ ОТВЕТЫ НА ВОПРОСЫ:
            ol(style='font-weight:400')
              li Зачем? Почему происходит то или иное событие?
              li Что на самом деле я хочу и зачем мне это?
              li Что и как делать?
            p Почему и зачем делать то, что необходимо, чтобы в вашей жизни произошли желаемые события, и вы смогли достичь того, что сделает вас счастливыми.


          p(style="text-align:center") Полученная информация является основой для дальнейших действий и благоприятного решения  Вашей сегодняшней  жизненной ситуации или задачи.
        +photo
          +photo-item('./assets/img/photo-1.png')
          +photo-item('./assets/img/photo-2.png')
          +photo-item('./assets/img/photo-3.png')
// END: section-text
