// START: section-quotes
.section-quotes
  .container-full
    .wrapper__row
      .wrapper__col-center-10.text-center
        blockquote.section-quotes__item
          p
          |  Порой нам кажется, что выхода нет. Или не знаем, как и куда сдвинуться с той точки, которая в ближайшем рассмотрении похожа на бег по кругу… #[br]
          |  В такие моменты главное – осмотреться и понять, в каком направлении вы действительно хотите идти. И Мастерская Намерения поможет вам это сделать.  #[br]
          |  В это можно не верить, но пройдет время, и вы вспомните прошлое с улыбкой и благодарностью.  #[br]
          footer В добрый путь! Ваша «Мастерская намерения»
// END: section-quotes
