include ../../mixins/photo/_photo
// START: section-text
.section-started
  .container-full
    .wrapper__row
      .wrapper__col-center-10
        h3.title.title_big.text-center С чего начинаем?
        h3.title.title_green.title_midle.text-center ПЕРВАЯ ВСТРЕЧА – КОНСУЛЬТАЦИЯ

        .section-started__ul
          .section-started__ul-li
            .section-started__ul-img
              .section-started__ul-img-inner(style='background-color: #00a253;')
                img(src='./assets/img/started-1.png')
            .section-started__ul-body
              .wysiwyg
                h4 Звоните нам, #[br] записываетесь на встречу в удобное время
          .section-started__ul-li
            .section-started__ul-img
              .section-started__ul-img-inner(style='background-color: #8d00d9;')
                img(src='./assets/img/started-2.png')
            .section-started__ul-body
              .wysiwyg
                h3(style='color: #59a159;') На встрече:
                h4 ЗНАКОМИМСЯ и ПРОЯСНЯЕМ #[br] цели ВЗАИМОДЕЙСТВИЯ
                p Знакомимся, отвечаем на вопросы, проясняем ваш запрос, цели, задачи,  возможности, путь реализации желаемого, объясняем необходимый объем работ для гарантии  результата.
          .section-started__ul-li
            .section-started__ul-img
              .section-started__ul-img-inner(style='background-color: #c495ff;')
                img(src='./assets/img/started-3.png')
            .section-started__ul-body
              .wysiwyg
                h4 ФОРМИРУЕМ ПРОГРАММУ ИНДИВИДУАЛЬНОГО ТРЕНИНГА
                p Определяем тип программы, индивидуальную последовательность видов работ,  график и режим прохождения тренинга, стоимость и режим оплаты.
                div.fl
                  img(src='./assets/img/started-icon.png')
                  span Учитываем Ваши финансовые и временные возможности!
    .wrapper__row
      .wrapper__col-center-10
        .text-center
          a(href='#').btn.btn-green.btn-lg ЗАПИСАТЬСЯ НА ПЕРВУЮ ВСТРЕЧУ
          br
          br
          .link-border ПОЛУЧАЕМ РЕЗУЛЬТАТ ПЕРВОГО ЭТАПА И СОСТАВЛЯЕМ ПРОГРАММУ СЛЕДУЮЩЕГО ЭТАПА
    .wysiwyg.text-center
      h4(style='text-transform: none;') Программа поможет вам достичь того состояния души и личностной зрелости, когда ваша жизнь становится подвластна вам и любима!
    .wrapper__row
      .wrapper__col-center-10
        .text-center
          a(href='#').btn.btn-white.btn-lg ЗАПИСАТЬСЯ НА ПРОГРАММУ
// END: section-text
