.separator {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: rem-calc(40 0);
  text-align: center;

  &_1 {
    background-image: url(../img/separator-1.png);
  }

  &_2 {
    background-image: url(../img/separator-2.png);
  }

  &__text {
    background: rgba(0, 0, 0, .4);
    color: #ffffff;
    font-size: rem-calc(24);
    line-height: rem-calc(32);
    font-weight: 500;
    padding: rem-calc(20);
    text-align: center;
    margin-bottom: rem-calc(20);
    @include media-breakpoint-up(sm) {
      padding: rem-calc(40);
    }
    @include media-breakpoint-up(md) {
      font-size: rem-calc(32);
      line-height: rem-calc(46);
    }

    p {
      margin: 0;
    }
  }
}

