.separator.separator_2
  .container-full
    .separator__text
      p Мы поможем вам понять, что СЧАСТЬЕ и ЖЕЛАНИЕ СОЗДАВАТЬ – проявление любви к жизни  и естественное состояние Человека, а не кратковременная вспышка в мрачности существования
    a(href='#').btn.btn-lg.btn-green ЗАПИСАТЬСЯ НА ПЕРВУЮ ВСТРЕЧУ
