mixin main-menu-li(link,text,classs)
  li(class='main-menu__list-item '+classs)
    a(href=link class='main-menu__list-link')&attributes(attributes)
      span=text
    block

nav.main-menu
  ul.main-menu__list
    +main-menu-li('#', 'Задачи','')(class='')
    +main-menu-li('#', 'С чего начинаем','')(class='')
    +main-menu-li('#', 'Типы программ','')(class='')
    +main-menu-li('#', 'Результат','')(class='')
    +main-menu-li('#', 'Уникальность','')(class='')
    +main-menu-li('#', 'О нас','')(class='')
