mixin footer-menu-list-item(text,src)
  li.footer-menu__list-item
    a(href=src).footer-menu__list-link&attributes(attributes)
      span=text
      block
.footer-menu
  ul.footer-menu__list
    +footer-menu-list-item('ЗАДАЧИ','#')
    +footer-menu-list-item('С ЧЕГО НАЧИНАЕМ?','#')
    +footer-menu-list-item('РЕЗУЛЬТАТ','#')
    +footer-menu-list-item('УНИКАЛЬНОСТЬ','#')
    +footer-menu-list-item('О НАС','#')
    +footer-menu-list-item('КОНТАКТЫ','#')
