.header-soc {
  &__list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;

    &-item {
      &:not(:last-child) {
        margin-right: rem-calc(15);
      }
    }

    &-link {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      color: $dove-gray;
      border: 1px solid $dove-gray;
      background-color: white;
      border-radius: 5px;
      width: rem-calc(34);
      height: rem-calc(34);

      span {
        display: none;
      }

      .icon {
        fill: $dove-gray;
        width: rem-calc(24);
        height: rem-calc(24);
      }
    }
  }
}
