.contact
  .wysiwyg
    p 190000, Россия, Санкт-Петербург, #[br] Галерная ул., 58-60 #[br]
      |
      small.mt-2
        a(href='#') Показать на карте
    p #[strong ПОСТУПАЮЩИМ] #[br] +7 (812) 324 07 70
    p #[strong СТУДЕНТАМ] #[br] +7 (812) 320 07 26, +7 (812) 320 07 21
    p #[strong ПРИЕМНАЯ ДЕКАНА] #[br] +7 (812) 320 07 29


