include ../../../mixins/radio-btn/_radio-btn
include ../../../mixins/btn/_btn
include ../../../mixins/between/_between
.contact-form.contact-form_experiment
  .contact-form__row
    .contact-form__col
      +between(class='between_2')
      form.contact-form__form
        .form-group
          label(for='contact-form-name') Имя Фамилия
          input(class='form-control' type='text' id='contact-form-name')
        .form-group
          label(for='contact-form-email') Электронная почта
          input(class='form-control' type='email' id='contact-form-email')
        .form-group
          label(for='contact-form-phone') Телефон
          input(class='form-control' type='tel' id='contact-form-phone')
        .form-group
          label(for='contact-form-time') Удобное время для звонка
          input(class='form-control' type='text' id='contact-form-time')

        .form-group
          .checkbox
            input(type="checkbox" class="" id="contact-form-checkbox-1")
            label( for="contact-form-checkbox-1") Я согласен(а) на обработку приведенных в форме моих персональных данных (Ф.И.О., контактная информация) СПбГУ.
        .form-group
          .checkbox
            input(type="checkbox" class="" id="contact-form-checkbox-2")
            label( for="contact-form-checkbox-2") Я проинформирован(а), что под обработкой персональных данных понимаются действия (операции) с персональными данными в рамках ФЗ «О персональных данных». Против проверки сообщенных мною сведений не возражаю.
        .form-group
          img(src='./assets/img/captcha.png')
        .form-group
          .contact-form__btn
            +btn('submit','Отправить')(class='btn-green btn-width-full')
