.icon-arrow-left {
  width: 1.78em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.78em;
  height: 1em;
  fill: initial;
}
.icon-attach {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-calendar-menu {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1.83em;
  height: 1em;
  fill: initial;
}
.icon-caret-left {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-caret {
  width: 1.78em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-external-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-faculty {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-filter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hash {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-link-file {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1.74em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quote-off {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-quote-on {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-repeat-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-repeat {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-review {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-show-off {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-show-on {
  width: 1.81em;
  height: 1em;
  fill: initial;
}
.icon-structure {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-training {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
