extends ../layout/main/_main

block title
  title Мастерская намерения

block body
  -var bodyClasses = 'no-logo'

append preload
  if locals.production

  else


block content

  include ../includes/section-top/_section-top
  include ../includes/section-quotes/_section-quotes
  include ../blocks/separator/_separator-1
  include ../includes/section-programs/_section-programs
  include ../blocks/separator/_separator-2
  include ../includes/section-why-us/_section-why-us
  include ../includes/section-authors/_section-authors
  include ../blocks/map/_map

  include ../includes/section-form/_section-form



append scripts
  //.dlaverstki(style='display: none;display: block;position: absolute;top: 0px; left: 50%;transform: translateX(-50%);width: 1200px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/about.png')
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 13px; left: 50%;transform: translateX(-50%);width: 1440px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/Desktop2.png')


