include ../../mixins/btn/_btn
include ../../mixins/author/_author

// START: section-programs
.section-authors
  .container-full
    h2.title.title_white.title_big.text-center О нас, авторах и ведущих программы
    .title__lid
      p Для получения наилучшего результата программу чаще ведут несколько мастеров.
      p Вы можете выбрать ведущего Мастера.
    //.js-show-more-text(style='display: none;')
    +author('./assets/img/author/1.png','Гайва Паулюсовна Тихомирова')
      p Профессиональный психолог. Учитель.
      p Мастер – Кармист. #[br]
        | Гранд – мастер Reiki. #[br]
        | Высшее профессиональное образование по специальностям: физика, врачебная практика, экономика, психология. #[br]
        | Опыт профессиональной работы с людьми более 25 лет. #[br]
        | Учитель всех ведущих «Мастерской намерения». #[br]
        | Автор всех применяемых методик ГАЙЯ. #[br]
        | #[span(class='italic') Обязательна предварительная запись за 1- 2 недели. ]
      .js-show-more-text(style='display: none;')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto assumenda culpa cumque itaque labore laboriosam magnam maxime odit pariatur porro provident qui quia ratione rerum soluta totam velit vero.
    +author('./assets/img/author/2.png','Владас Плесевичюс')
      p Практикующий психолог. Мастер - Кармист.#[br]
        | Гранд-мастер Reiki. #[br]
        | Высшее профессиональное образование по специальности менеждмент. #[br]
      p Автор более 100 психотренингов, ведущий уникальных трансформационных методик. #[br]
        | Опыт работы с крупными организациями и физическими лицами 7 лет. #[br]
        | #[span(class='italic') Индивидуальный прием проводится по предварительной записи. ]
      .js-show-more-text(style='display: none;')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto assumenda culpa cumque itaque labore laboriosam magnam maxime odit pariatur porro provident qui quia ratione rerum soluta totam velit vero.

    +author('./assets/img/author/3.png','Араксис Сергеевич Пронин')
      p Мастер - Кармист, Мастер Рейки, Гипнотерапевт, Психолог-консультант, психотренер, писатель.
      p Опыт работы с людьми: более 5 лет. #[br]
        | Соавтор более 40 психотренингов. #[br]
        | Обладает знаниями и навыками работы во многих, в том числе малоизвестных, техниках. Благодаря высокой энергетической чувствительности, генетическим особенностям, проводимые Араксисом сеансы восстанавливают тело и душу. #[br]
        | #[span(class='italic') Индивидуальный прием проводится по предварительной записи. ]
      .js-show-more-text(style='display: none;')

    +author('./assets/img/author/4.png','Ладмира Эдуардовна Годлевская')
      p Профессиональный психолог. #[br]
        | Высшее образование по специальностям: педагогика, химия, психология.
      p Имеет опыт работы в научной деятельности.  #[br]
        | Опыт практической работы с людьми 20 лет с физическими и юридическими лицами. #[br]
        | Автор более 100 психотренингов. #[br]
        | Соведущий уникальных трансформационных методик. #[br]
        | Опыт работы с крупными организациями и физическими лицами в качестве психотренера более 8-ми лет. #[br]
        | Имеет успешный опыт работы в качестве HR-директора, в том числе крупной организации, более 5 лет. #[br]
        | #[span(class='italic') Индивидуальный прием проводится по предварительной записи. ]
      .js-show-more-text(style='display: none;')










// END: section-programs
